<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xlwapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To access the location we need to ask for permission -->
    <!-- see https://developer.android.com/training/location/retrieve-current.html -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".application.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GuessGameActivity" />
        <activity android:name=".LifecycleAndLogActivity" />
        <activity android:name=".dickRoll" />
        <activity android:name=".MyLinearLayout" />
        <activity android:name=".MyFragmentActivity" />
        <activity android:name=".TrackMySleepQualityActivity" />
        <activity android:name=".GetOnlineDataActivity" />
        <activity android:name=".DevByteActivity" />
        <activity android:name=".GdgActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>